/*==================*/
/* Body Style Rules */
/*==================*/
body{
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}




/*============================*/
/* Utility And Generic Styles */
/*============================*/
.centralize{
  text-align: center;
}

input:focus, select:focus{
  outline: 1px solid teal;
}




/*==============*/
/* Main Section */
/*==============*/
main{
  margin: 2em;
}

main > section{
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 2em;
}

main > section > form > fieldset > *:not(legend){
  padding: 0.5em 1em;
  font-size: 0.9em;
  border: 1px solid teal;
  background-color: white;
  border-radius: 3px;
}

main > section > form > fieldset > button{
  background-color: teal;
  color: white;
  font-weight: bold;
}

fieldset{
  border: 1px solid teal;
}

form:not(.sell_share, .purchase_container, .convert_form){
  padding: 0.5em 1.5em 1.5em;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}




/*=======================*/
/* Share Selling Section */
/*=======================*/
form.sell_share{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

form.sell_share > *{
  padding: 0.7em 1em;
  font-size: 1em;
  border: 1px solid teal;
  background-color: white;
}

form.sell_share > button{
  background-color: teal;
  color: white;
  font-weight: bold;
}


/*========================*/
/* Shares Listing Section */
/*========================*/
ul.shares_listing{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  justify-content: space-around;
  padding-left: 0;
}


ul.shares_listing > li{
  list-style: none;
  box-shadow: 3px 3px 4px  rgba(0,0,0,0.3);
  padding: 1.5em;
  background-color: white;
  position: relative;
}


ul.shares_listing > li > *{
  margin: 0;
  margin: 0.5em 0;
  font-weight: normal;
}

ul.shares_listing > li > div.card_pick{
  border-right: 30px solid teal;
  border-left: 0px solid white;
  border-top: 0px solid white;
  border-bottom: 30px solid white;
  height: 0px;
  width: 0px;
  position: absolute;
  top: -9px;
  left: 0;
  transform: rotate(270deg);
}


/*========================*/
/* Conversion Sub-section */
/*========================*/
ul.shares_listing > li.share > div.conversion_sub-section {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;
  justify-content: space-around;
  border: 1px solid teal;
  padding: 1em;
  border-radius: 3px;
}

div.conversion_sub-section > form {
  display: flex;
  gap: 1em;
  align-items: center;
}

div.conversion_sub-section > form > select{
  border: 1px solid teal;
  background-color: white;
  border-radius: 3px;
  padding: 0.5em;
}

div.conversion_sub-section > form > button{
  background-color: teal;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.7em;
}

div.conversion_sub-section h4{
  margin: 0;
}

ul.shares_listing > li > form.purchase_container > *{
  padding: 0.5em 0.5em;
  border: 1px solid teal;
  font-size: 0.9em;
  border-radius: 3px;
}

ul.shares_listing > li > form.purchase_container > input::placeholder{
  color: rgb(140, 179, 179);
}

ul.shares_listing > li > form.purchase_container > button{
  border: 1px solid teal;
  background-color: teal;
  color: white;
  font-weight: bold;
  
}




/*================================*/
/* Media Query For Mobile Devices */
/*================================*/
@media (max-width: 800px){
  main{
    margin: 1.5em;
  }
  
  form.purchase_container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.4em;
  }

  section.sort_section > form > fieldset, section.share_price > form > fieldset, form.share_price_range > fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }

  li.share{
    width: 100%;
  }
}